@page "/AgregarPelicula"
@inject NavigationManager NavigationManager
@using segundoexamenparcial_v2.Modelo;
@using segundoexamenparcial_v2.Servicio;
@inject ServicioPelicula serv;
@inject ServicioGenero servGen;
@inject ServicioCertificados servCert;


<h3>Agregar pelicula</h3>

<div class="row">
    <div class="col-md-8">
        <EditForm Model="@obj" OnValidSubmit="@CrearPelicula">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="Titulo" class="control-label">Titulo</label>
                <InputText id="Titulo" class="form-control" @bind-Value="obj.Titulo"/>
            </div>
            <div class="form-group">
                <label for="Historia" class="control-label">Historia</label>
                <InputText id="Historia" class="form-control" @bind-Value="obj.Historia"/>
            </div>
            <div class="form-group">
                <label for="fechaEstreno" class="control-label">Fecha estreno</label>
                <InputDate id="fechaEstreno" class="form-control" @bind-Value="obj.fechaEstreno"/>
            </div>
            <div class="form-group">
                <label for="Duracion" class="control-label">Duración</label>
                <InputNumber id="Duracion" class="form-control" @bind-Value="obj.Duracion"/>
            </div>
            <div class="form-group">
                <label for="GeneroId" class="control-label">Genero</label>
                <InputSelect id="GeneroId" class="form-control" @bind-Value="obj.GeneroId">
                    @foreach (var g in @objGen)
                    {
                        <option value="@g.Id">@g.Descripcion</option> 
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="CertificadoId" class="control-label">Certificado</label>
                <InputSelect id="CertificadoId" class="form-control" @bind-Value="obj.CertificadoId">
                    @foreach (var c in @objCert)
                    {
                        <option value="@c.Id">@c.Descripcion</option> 
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="Notas" class="control-label">Notas</label>
                <InputText id="Notas" class="form-control" @bind-Value="obj.Notas"/>
            </div>
            <button type="submit" class="btn btn-primary" >Guardar</button>
            <button type="button" class="btn btn-primary" @onclick="@Cancelar" >Cancelar</button>
        </EditForm>
    </div>
</div>

@code {
    Pelicula obj = new Pelicula();
    List<Genero> objGen;
    List<Certificado> objCert;

    protected void CrearPelicula(){
        serv.Insertar(obj);
        NavigationManager.NavigateTo("Peliculas");
    }
    protected void Cancelar(){
        NavigationManager.NavigateTo("Peliculas");
    }
    protected override void OnInitialized()
    {
        objGen = servGen.obtenerTodo("");
        objCert = servCert.obtenerTodo("");
    }
}